/* Error Handling */
.invalid-feedback {
  display: none;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  flex: 100%;
}

.is-invalid~.invalid-feedback {
  display: block;
}

.is-invalid,
.is-invalid~.form-check-label {
  border-color: #dc3545;
  color: #dc3545;
}

.passenger {
  border: 1px solid;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}


.d-flex {

  display: flex !important;
}

#departureTemperature, #arrivalTemperature {
  color: blue;
  font-weight: bold;
}

#secondPassenger {
  display: none;
}

.label {
  font-weight: bold;
}


body {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100vh;
}
